* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-body: #FFFFFF;
    --bg-body-dark: #121214;
    --bg-card: #E1E1E6;
    --bg-card-dark: #29292E;
    --bg-card-focused: #02799D;
    --bg-card-focused-dark: #0A3442;
    --fill-card: #323238;
    --fill-card-dark: #C4C4CC;
    --fill-card-focused: #FFFFFF;

    --btn-fill-dark: #C4C4CC;

    --ff-primary: 'Roboto', sans-serif;
    --fc-primary: #323238;
    --fc-dark: #FFFFFF;
    --fc-primary-placeholder: #696974;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input {
    width: 15rem;
    font-family: var(--ff-primary);
    font-size: 12.6rem;
    color: var(--fc-primary-placeholder);
    border: none;
    outline: none;
}

input::placeholder {
    text-align: center;
}

body{
    background: var(--bg-body);
    height: 100vh;
    width: 100vw;
    font-family: var(--ff-primary);
    color: var(--fc-primary);
    display: grid;
    position: relative;
}

.container {
    margin-top: -10rem;
    align-self: center;
    justify-self: center;
    font-size: 12.6rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19.2rem;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
}

.set-timer {
    display: flex;
}

.timer-display {
    display: flex;
    align-self: center;
    justify-content: center;
}

.controls {
    display: flex;
    gap: 4rem;
}

.cards {
    display: grid;
    gap: 3.2rem;
    grid-template-areas: "A B" "C D";
}

.forest {
    grid-area: A;
}

.rain {
    grid-area: B;
}

.coffee-shop {
    grid-area: C;
}

.fire-place {
    grid-area: D;
}

.select path:nth-child(1) {
    fill: var(--bg-card-focused);
}

.select path:nth-child(2) {
    fill: var(--fill-card-focused);
}

.hide {
    display: none;
}

/* DARK MODE */
.dark-mode{
    position: absolute;
    top: 6rem;
    right: 6rem;
}

body.dark {
    background: var(--bg-body-dark);
    color: var(--fc-dark);
}

.dark input {
    background: var(--bg-body-dark);
}

.dark .controls path {
    fill: var(--btn-fill-dark);
}

.dark .cards path:nth-child(1) {
    fill: var(--bg-card-dark);
}

.dark .cards path:nth-child(2) {
    fill: var(--fill-card-dark);
}

.dark .select path:nth-child(1) {
    fill: var(--bg-card-focused-dark);
}

.dark .select path:nth-child(2) {
    fill: var(--fill-card-focused);
}


